node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
package-lock.json
test
proxy
.idea
.vscode
public
.eslintignore.js
.eslintrc.js
.editorconfig
.prettierrc
ecosystem.json
nodemon-debug.json
nodemon.json
tsconfig.build.json
tsconfig.json
tslint.json